(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
hyphen,
space,
.notdef,
Ntilde,
N.001,
N.002,
N.003,
T.001,
Q.alt,
E.001,
aacute,
ntilde,
oacute,
a.alt,
i.alt,
h.001,
i.001,
m.001,
n.001,
n.002,
o.001,
oacute.001,
v.001,
grave,
acute,
tilde,
newGlyph,
newGlyph.001
)