{
.appVersion = "3091";
.formatVersion = 3;
date = "2021-08-17 18:58:16 +0000";
familyName = "Nueva fuente";
fontMaster = (
{
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
}
);
name = Regular;
visible = 1;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
